.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    height: 223px;
    margin-top: 44px;
    border-radius: 25px;
    filter: brightness(70%);
    object-fit: cover;
}

.global-about main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    max-width: 95%;
}


.container-about {
    margin-top: 31px;
    margin-bottom: 226.5px;
    margin-left: 5%;
    margin-right: 5%;
}