.container_card {
    margin-top: 43px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 1240px;
    max-width: 95%;
    background: #F7F7F7;
    border-radius: 25px;
}

.box_card {
    list-style-type: none;
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    max-width: 100%;
}