.container_card {
    margin-top: 43px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 1240px;
    max-width: 95%;
    background: #F7F7F7;
    border-radius: 25px;
}

.box_card {
    list-style-type: none;
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    max-width: 100%;
}

/* Responsive design */

@media screen and (max-width: 1305px) {
    .box_card {
        justify-content: center;
        gap: 6%;
    }
}

/*==========================================*/

@media screen and (max-width: 983px) {

    .box_card {
        padding: 50px 0px 50px 0px;
        margin-left: 5%;
        margin-right: 5%;
        gap: 20px;
    }

}

/*==========================================*/

@media screen and (max-width: 672px) {
    .container_card {
        background: none;
        margin-top: 22px;
    }

    .box_card {
        padding: 0px 0px 40px 0px;
    }
    
}