nav a {
    color: #FF6060;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin: 0;
    text-decoration-line: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 57px 0px 0px 57px;
}

nav ul li:hover {
    text-decoration-line: underline;
}

/* Responsive design */

@media screen and (max-width: 672px) {

    .menu {
        padding: 0;
    }

    nav a {
        font-size: 12px;
        text-transform: uppercase;
    }

    nav ul li {
        padding: 38px 0px 0px 15px;
    }

    .container_card {
        background: none;
    }
}

@media screen and (max-width: 350px) {

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        padding: 40px 0px 0px 15px;
        margin-right: 2%;
    }
}