.gradient-overlay {
    border-radius: 10px;
    width: 340px;
    height: 340px;
    background-size: cover;
    cursor: pointer;
}

.card-cover {
    background-size: cover;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    object-fit: cover;
}

.product-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
}

.title-card {
    position: absolute;
    z-index: 20;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    margin: 268px 20px 20px 20px;
    color: #FFFFFF;
    cursor: pointer;
}

/* Responsive design */

@media screen and (max-width: 1305px) {

    .gradient-overlay {
        width: 100%;
        height: 255px;
        margin-bottom: 45px;
    }

    .card-cover {
        max-width: 365px;
        width: 100%;
        height: 255px;
        margin-bottom: 30px;
    }

    .title-card {
        margin: 46.73% 5.88% 5.88% 5.88%;
    }
}

/*==========================================*/

@media screen and (max-width: 983px) {

    .gradient-overlay {
        margin-bottom: 0px;
    }

    .card-cover {
        margin-bottom: 0px;
    }

    .title-card {
        margin: 53.73% 5.88% 5.88% 5.88%;
    }
}

/*==========================================*/

@media screen and (max-width: 848px) {

    .gradient-overlay {
        height: 190px;
    }

    .card-cover {
        max-width: 285px;
        height: 190px;
    }
}

/*==========================================*/

@media screen and (max-width: 672px) {

    .gradient-overlay {
        height: 255px;
    }

    .card-cover {
        max-width: 383px;
        height: 255px;
    }
}