.product__page {
    display: flex;
    flex-direction: column;
    width: 47%;

}
.collapse {
    position: relative;
    z-index: 900;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
}

.collapse-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.collapse-icon {
    margin-left: auto;
}

.rotate {
    transform: rotate(540deg);
}

.collapse-content {
    background-color: #f3f3f3;
    overflow: auto;
    transition: 0.6s ease;
    margin-top: -10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.collapse-text {
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding: 40px 12px 27px 20px;
}

.collapse-text ul {
    list-style: none;
    padding: 0;
}

/************************************/
/* Collapse spécifique page A Propos*/

.about__page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about__page .collapse {
    width: 90%;
    height: 48px;
}

.about__page .collapse-title {
    font-size: 24px;
}

.about__page .collapse-content {
    width: 90%;
}

.about__page .collapse-text {
    font-size: 24px;
    padding: 36px 24px 18px 18px;
}

.about__page .collapse-icon {
    width: 24px;
}

/* Responsive design */

/*******************************************/
@media (max-width: 1238px) {
    .logement-page {
        width: 100%;
    }

    .collapse-content {
        background-color: #F6F6F6;
        overflow: auto;
        transition: 0.6s ease;
        border-radius: 5px;
    }

    .logement-page .collapse-content {
        margin-bottom: 34px;
    }
}

/*******************************************/
@media (max-width: 478px) {

    .logement-page .collapse-content {
        margin-bottom: 30px;
    }

    .about__page .collapse-content {
        margin-bottom: 30px;
    }

    .about__page .collapse,
    .collapse {
        height: 30px;
        border-radius: 5px;
    }

    .about__page .collapse-title,
    .collapse-title {
        font-size: 13px;
    }

    .about__page .collapse-text {
        font-size: 12px;
        padding: 25px 8px 50px 10px;
    }

    .collapse-text {
        font-size: 12px;
        padding: 25px 8px 4px 10px;
    }

    /* Chevron */
    .about__page .collapse-icon,
    .collapse-icon {
        width: 15px;
        height: 9px;
    }
}