.footer {
    bottom: 0;
    max-width: auto;
    height: 210px;
    left: 0;
    right: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.LOGO {
    margin-top: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Text_footer {
    margin-top: 28px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    }

 /* Responsive design */

@media screen and (max-width: 648px) {
    .body {
        position: relative;
    }

    .footer {
        margin-bottom: 0;
    }

    .LOGO {
        margin-top: 62px;
        width: 122px;
        height: 40px;
    }

    .Text_footer {
        margin-top: 28px;
        font-size: 12px;
        line-height: 140%;
    }
}