.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.avatar-main img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    background: #C4C4C4;
}

.avatar-name {
    width: 93px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    margin-right: 10px;
}

/* Responsive design */

@media (max-width: 478px) {
    .avatar-container {
        margin-top: 18px;
        margin-bottom: 16px;
    }

    .avatar-main img {
        width: 32px;
        height: 32px
    }

    .avatar-name {
        font-size: 12px;
        margin: 0;
    }
}