.banner {
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

.background-banner {
    position: relative;
    z-index: 1;
    max-width: 95%;
    height: 223px;
    border-radius: 25px;
    filter: brightness(70%);
    object-fit: cover;
}

.title-banner {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    max-width: 100%;
    color: #ffffff;
    left: 7%;
    right: 7%;
}

/* Responsive design */

@media screen and (max-width: 672px) {

    .banner {
        margin-top: 16px;
    }

    .background-banner {
        max-width: 90%;
        height: 110px;
        border-radius: 10px;
    }

    .title-banner {
        text-align: left;
        left: 9.6%;
        right: 30%;
        top: 114px;
        font-size: 24px;
        line-height: 100%;
    }
}

@media screen and (max-width: 375px) {
    .background-banner {
        content: url("../../images/MinHome.webp");
    }
}

@media screen and (max-width: 350px) {
    .background-banner {
        margin-top: 35px;
    }

    .background-opacity {
        margin-top: 35px;
    }

    .title-banner {
        margin-top: 78px;
    }
}